/build/
/build-stamp
/configure-stamp
/debian/files
/debian/*.debhelper
/debian/*.debhelper.log
/debian/*.substvars
/debian/game-data-packager/
/debian/doom2-masterlevels/
/out/
__pycache__/
*.deb
ref.zip
