/16/
/22/
/24/
/32/
/48/
/256/
/tmp-armagon.svg
/tmp-dissolution.svg
/quake
/quake2
/quake-server
/quake2-server
/quake.xpm
/quake2.xpm
/quake.svg
/quake-armagon.svg
/quake-dissolution.svg
/quake2.svg
