[Desktop Entry]
Type=Application
Version=1.0
Name=Quake 2 MP2: Ground Zero
Comment=Mission Pack 2 for the classic first person shooter
Icon=quake2-groundzero
TryExec=/usr/share/games/quake2/quake2-groundzero
Exec=/usr/share/games/quake2/quake2-groundzero
Categories=Game;ActionGame;
Keywords=first person shooter;fps;3d;deathmatch;rogue entertainment;mission pack 2;quake 2;
