# quake.desktop

[Desktop Entry]
Type=Application
Version=1.0
Name=Quake
Comment=Classic first person shooter
Exec=/usr/games/quake
Categories=Game;ActionGame;
