[Desktop Entry]
Name=Doom 2: Master Levels
GenericName=First Person Shooter Game
Exec=doom2-masterlevels
TryExec=/usr/share/games/doom/doom2-masterlevels-tryexec
Icon=doom2
Terminal=false
Type=Application
Categories=Game
Keywords=launcher;doomit
