[Desktop Entry]
Name=Doom 2: Master Levels
GenericName=First Person Shooter Game
Exec=doom2-masterlevels
Icon=doom2-masterlevels
Terminal=false
Type=Application
Categories=Game
Keywords=launcher;doomit
