Source: quake
Maintainer: David Banks <amoebae@gmail.com>
Section: contrib/games
Priority: optional
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: imagemagick
Standards-Version: 3.9.2.0

Package: quake
Architecture: all
Depends: ${misc:Depends}, quakespasm, quake-data | game-data-packager
Description: classic first person shooter
 This package contains a launcher script and menu entry to play
 Quake 1 with the Quakespasm engine.
 .
 To make this package useful, you will need to create and install the
 non-distributable quake-registered or quake-shareware package, by using the
 game-data-packager package.
 .
 Creating quake-registered requires data files from a Quake installation or
 CD-ROM.
 .
 Creating quake-shareware requires the shareware version of Quake.
