Source: ioquake3
Section: games
Priority: optional
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Uploaders: Marc Leeman <marc.leeman@gmail.com>, Bruno "Fuddl" Kleinert <fuddl@gmx.de>
Build-Depends: debhelper (>> 4.0.0), libsdl1.2-dev, docbook-to-man, libopenal-dev, quilt, imagemagick
Standards-Version: 3.7.2

Package: ioquake3
Architecture: any
Depends: ${shlibs:Depends}, ioquake3-common
Suggests: xqf, qstat
Description: Improved version of id Software Inc.'s Quake III engine
 Icculus.Org Quake III is a 3D action game engine in first-person perspective, 
 commonly known as a "first person shooter".
 .
 This package contains no data files. You will need to either install the 
 commercial data from the Quake III Arena CD-ROM with the "quake3-data" package,
 or install some free data files.
 .
 This package contains the game client.
 .
  Homepage: http://www.icculus.org/quake3

Package: ioquake3-server
Architecture: any
Depends: ${shlibs:Depends}, ioquake3-common
Description: Icculus.Org Quake III Arena dedicated server
 Icculus.Org Quake III Arena is a 3D action game in first-person perspective, 
 commonly known as a "first person shooter".
 You will also have to install the quake3-data package to run the server.
 .
 This package contains the game server.
 .
  Homepage: http://www.icculus.org/quake3

Package: ioquake3-common
Architecture: all
Depends: debconf (>= 0.5.00)
Recommends: quake3-data
Description: Icculus.Org Quake III Arena common files
 This package provides files which are common among the packages ioquake3 and 
 ioquake3-server.
 .
 If you own a copy of id Software Inc.'s Quake III Arena, you can install the 
 package "quake3-data" to install the proprietary game data.
