[Desktop Entry]
Encoding=UTF-8
Name=Quake III Arena
Comment=A 3d networked deathmatch game - The quake3-data must be installed and configured properly
Comment[de]=Ein netzwerkfähiges 3d Schießspiel - Das Paket quake3-data muss korrekt installiert und konfiguriert sein
Exec=/usr/games/ioquake3 --quiet
Terminal=false
Icon=ioquake3.svg
Type=Application
Categories=Application;Game;ArcadeGame
