[Desktop Entry]
Encoding=UTF-8
Name=q3ta
Comment=Quake III Team Arena (GPL)
Exec=/usr/games/ioquake3 +set fs_game missionpack
Terminal=false
Icon=/usr/share/pixmaps/ioquake3ta.xpm
Type=Application
Categories=Application;Game;
