[Desktop Entry]
Encoding=UTF-8
Name=Quake III Team Arena
Comment=Icculus.Org Quake III Team Arena
Exec=/usr/games/ioquake3 --quiet +set fs_game missionpack
Terminal=false
Icon=ioquake3ta
Type=Application
Categories=Application;Game;
