[Desktop Entry]
Encoding=UTF-8
Name=q3a
Comment=Quake III Arena (GPL)
Exec=/usr/games/q3a
Terminal=false
Icon=/usr/share/pixmaps/quake3.xpm
Type=Application
Categories=Application;Game;
