[Desktop Entry]
Encoding=UTF-8
Name=Quake III Arena
Comment=Icculus.Org Quake III Arena
Exec=/usr/games/ioquake3 --quiet
Terminal=false
Icon=ioquake3.xpm
Type=Application
Categories=Application;Game;
