[Unit]
Description=Quake game server (instance: "%i")
After=network.target
Documentation=man:quake-server(6)

[Service]
Type=simple
User=quake-server
Environment=DAEMON_OPTS=
Environment=HOME=/var/games/quake-server/%i.home
EnvironmentFile=-/etc/default/quake-server@%i
ExecStart=/usr/games/quake-server $DAEMON_OPTS +exec etc/quake-server/%i.cfg
Restart=on-failure
RestartPreventExitStatus=72
# hardening
CapabilityBoundingSet=
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
