[Unit]
Description=Quake 4 game server
After=network.target
Documentation=man:quake4-dedicated(6)

[Service]
Type=simple
User=quake4-server
Environment=DAEMON_OPTS=
EnvironmentFile=-/etc/default/quake4-server
ExecStart=/usr/games/quake4-dedicated --allow-binary-only $DAEMON_OPTS +exec etc/quake4-server/server.cfg
Restart=on-failure
RestartPreventExitStatus=72
# hardening
CapabilityBoundingSet=
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
# this game uses proprietary x86-only binaries, even on amd64
Personality=x86

[Install]
WantedBy=multi-user.target
