[Desktop Entry]
Version=1.0
Name=Quake 3 Arena
Exec=quake3
Icon=quake3
Comment=Play the original Quake 3 Arena
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
