#!/usr/bin/make -f

#export DH_VERBOSE=1

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

## Not using dpkg-architecture to keep in sync with ioq3's Makefile
Q3ARCH=$(shell uname -m | sed -e s/i.86/i386/)

configure: configure-stamp
configure-stamp: patch-stamp
	dh_testdir
	touch configure-stamp

build: unpack build-stamp
build-stamp: configure-stamp
	dh_testdir
	$(MAKE) $(BUILD_FLAGS)
	/usr/bin/docbook-to-man debian/ioq3ded.sgml > ioq3ded.6
	/usr/bin/docbook-to-man debian/ioquake3.sgml > ioquake3.6
	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	-$(MAKE) distclean
	
	# Clean up files we generated on our own
	-rm -f build-stamp configure-stamp unpack-stamp ioq3ded.6 ioquake3.6 ioquake3.svg ioquake3_32x32.xpm
	-rm -rf .pc
	dh_clean

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	
	### prepare some things we like better in our own style
	cp build/release-linux-$(Q3ARCH)/ioquake3.$(Q3ARCH) build/release-linux-$(Q3ARCH)/ioquake3.bin
	cp build/release-linux-$(Q3ARCH)/ioq3ded.$(Q3ARCH) build/release-linux-$(Q3ARCH)/ioq3ded.bin
	cp code/unix/quake3.svg ioquake3.svg
	convert -scale 32x32 code/unix/quake3.png ioquake3_32x32.xpm
	
	### client files
	dh_install -pioquake3 debian/scripts/ioquake3 usr/games
	dh_install -pioquake3 ioquake3.svg usr/share/icons/hicolor/scalable/apps
	dh_install -pioquake3 ioquake3_32x32.xpm usr/share/pixmaps
	dh_install -pioquake3 debian/ioquake3.desktop usr/share/applications # TODO waiting for dh_desktop to do that job! :(
	dh_install -pioquake3 build/release-linux-$(Q3ARCH)/ioquake3.bin usr/games
	
	### server files
	dh_install -pioquake3-server debian/scripts/ioquake3-server usr/games
	dh_link -pioquake3-server usr/games/ioquake3-server usr/games/ioq3ded
	dh_install -pioquake3-server build/release-linux-$(Q3ARCH)/ioq3ded.bin usr/games

binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_installdocs
	dh_installmenu
	dh_installman -pioquake3-server ioq3ded.6
	dh_installman -pioquake3 ioquake3.6
	dh_link -pioquake3-server usr/games/ioq3ded usr/games/ioquake3-server
	dh_installinfo
	dh_installchangelogs -pioquake3 ChangeLog
	dh_installchangelogs -pioquake3-server ChangeLog
	dh_strip
	dh_compress
	dh_fixperms -pioquake3
	dh_fixperms -pioquake3-server
	dh_fixperms -pioquake3-common
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

unpack: unpack-stamp

unpack-stamp:
	touch unpack-stamp

patch: patch-stamp

patch-stamp:
	quilt --quiltrc debian/quiltrc -a push || true

unpatch:
	quilt --quiltrc debian/quiltrc -a pop  || true
	rm -rf patch-stamp .pc

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install patch unpatch
