Package: emptypackage
Section: non-free/games
Priority: optional
Architecture: all
Multi-Arch: foreign
Installed-Size: 0
Version: 1
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Description: an empty .deb file
 used as part of the game-data-packager test harness
